.masonry-list {
  position: relative;
  width: 100%;
}

.masonry-item-wrapper {
  position: absolute;
  overflow: hidden;
  border-radius: 6px;
  padding: 3px;
  will-change: transform;
}

.masonry-item-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
  position: relative;
}

.masonry-item-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  display: block;
}
